.rank-cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 160px;
  padding-left: 30px;
}

.rank-card {
  margin: 20px;
  padding: 10px;
  width: 250px;
  height: 350px;
  overflow: scroll;
  border-radius: 20px;
  border: solid 1px #1A5084;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.delete-keyword-btn {
  position: relative;
  left: 180px;
}
