.form {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
}

.edit-user-info-form, .new-user-registration-form, .login-form, .devise-form {
  padding-top: 50px;
  width: 70%;
  padding-bottom: 30px;
}

.nested-fields {
  display: flex;
}

.nested-fields .field .form-control {
  display: inline-block;
}

.delete_keyword_button {
  color: red;
  display: inline-block;
  padding-top: 40px;
  padding-left: 10px;

  &:hover {
    color: rgb(139, 28, 28);
  }
}
