.form {
  width: 80%;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 30px;
}

.edit-user-info-form, .new-user-registration-form, .login-form, .devise-form {
  padding-top: 140px;
  width: 70%;
  padding-bottom: 30px;
}
