.page-header {
  position: relative;
}

.page-header__title {
  position: relative;
  top: 25px;
  left: 34px;
  right: 30px;
  width: 95%;
  font-size: 30px;
  word-break: break-all;
}

.page-header-actions {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 20px;
}

.page-header__back-btn{
  margin-left: 30px;
}

.page-header__pre-title {
  font-size: 17px;
  position: relative;
  top: 30px;
  left: 33px;
  color: rgb(117, 116, 116);
}
