.page-header {
  position: relative;
}

.page-header__title {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 30px;
}

.page-header-actions {
  position: absolute;
  top: 90px;
  right: 50px;
}

.page-header__back-btn{
  margin-left: 30px;
}

.page-header__pre-title {
  font-size: 17px;
  position: relative;
  top: 25px;
  left: 33px;
  color: rgb(117, 116, 116);
}
