.url-table {
  padding-top: 170px;
  padding-bottom: 30px;
}

.table {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.table__url {
  max-width: 160px;
  overflow: scroll;
  text-align: left;
}
